.item-list {
    list-style: none;
    padding: 0;
  }
  
  .item {
    background-color: #f4df26;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: crosshair;
  }
  
  .item:hover {
    background-color: #e0e0e0;
  }
  